<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>-->
  <configSections>
    <section name="DreamSaleConfig" type="DreamSale.Core.Configuration.DreamSaleConfig, DreamSale.Core" requirePermission="false" />
  </configSections>
  <DreamSaleConfig>
    <!-- Web farm support
    Enable "MultipleInstancesEnabled" if you run multiple instances.
    Enable "RunOnAzureWebApps" if you run on Windows Azure Web Apps (not cloud services). -->
    <WebFarms MultipleInstancesEnabled="False" RunOnAzureWebApps="False" />
    <!-- Windows Azure BLOB storage. Specify your connection string, container name, end point for BLOB storage here -->
    <AzureBlobStorage ConnectionString="" ContainerName="" EndPoint="" />
    <!-- Redis support (used by web farms, Azure, etc). Find more about it at https://azure.microsoft.com/en-us/documentation/articles/cache-dotnet-how-to-use-azure-redis-cache/ -->
    <RedisCaching Enabled="false" ConnectionString="localhost" />
    <!-- You can get the latest version of user agent strings at http://browscap.org/ -->
    <!-- Leave "crawlersOnlyDatabasePath" attribute empty if you want to use full version of "browscap.xml" file -->
    <UserAgentStrings databasePath="~/App_Data/browscap.xml" crawlersOnlyDatabasePath="~/App_Data/browscap.crawlersonly.xml" />
    <!-- Set the setting below to "False" if you did not upgrade from one of the previous versions. It can slightly improve performance -->
    <SupportPreviousDreamSalecommerceVersions Enabled="True" />
    <!-- Do not edit this element. For advanced users only -->
    <Installation DisableSampleDataDuringInstallation="False" UseFastInstallationService="False" PluginsIgnoredDuringInstallation="" />
  </DreamSaleConfig>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>